.am {
    justify-content: center;
}

.al {
    display: flex;
}

.aw {
    flex-direction: row;
}

.av {
    height: 75px;
}

.au {
    padding: 25px 0;
}

.bp {
    align-items: center;
}

.z {
    background: #FFC017;
}

.y {
    display: block;
}

.x {
    border-bottom: 1px solid rgba(41, 41, 41, 1);
}



