.flex-container, .am {
    justify-content: center;
}

.actual-logo-and-links, .div-containing-links, .al {
    display: flex;
}

.actual-logo-and-links, .div-containing-links, .aw {
    flex-direction: row;
}

.actual-logo-and-links, .av {
    height: 75px;
}

.actual-logo-and-links, .au {
    padding: 25px 0;
}

.div-containing-links, .bp {
    align-items: center;
}

.main-container, .z {
    background: #FFC017;
}

.main-container, .y {
    display: block;
}

.main-container, .x {
    border-bottom: 1px solid rgba(41, 41, 41, 1);
}

.btn-get-started {
    transition: background-color 300ms linear, color 300ms linear;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-radius: 99em;
    border-color: rgba(25, 25, 25, 1);
    background: rgba(25, 25, 25, 1);
    fill: rgba(255, 255, 255, 1);
    padding: 7px 16px 9px;
    color: rgba(255, 255, 255, 1);
    line-height: 20px;
    font-size: 14px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    margin: 0;
    overflow: visible;
    -webkit-tap-highlight-color: transparent;
}


